html, body
{
    height: 100%;
    overflow: hidden;
}

div.container-fluid
{
    padding-top: 56px;
}

div.container-fluid, div.row, div.col, div.jumbotron
{
    height: 100%;
}

div.col
{
    padding-left: 0;
    padding-right: 0;
}
