<html>
<div class="container-fluid">
            <div class="row">

                <div class="col-6">
                    <form action="/compare" enctype="multipart/form-data" method="post">
input type = "radio" name = "algorithm" value = "substrings">Substrings<br><br>

                        <input type = "number" name = "length"><br><br>

                    <input type="submit" value="Submit">
                    </form>
                            
                </div>
                        <tr class="dumbo surfer goodfriend smelly">
                    <td> Today </td>
                    {% for i in range(0,10) %}
                        <td>{{loop.index}}</td>
                    {% endfor %}
                </tr>
                                
                                </html>
