<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>

        <title>ChoreWheel</title>

    </head>
    <body>

            <nav class="navbar fixed-top navbar-dark bg-dark">

                    <a class="navbar-brand" href="/">ChoreWheel</a>

            </nav>
            <div class="container-fluid">
                <div class="row">
                    
                </div>
            </div>
    </body>
