<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>

        <title>ChoreWheel</title>

    </head>
    <body>
        <table border="1">
            <thead>
                <tr>
                    <td>Pic</td>
                    <td>name</td>
                    <td>Chore</td>
                </tr>
            </thead>
            <tbody>
                <tr class="dumbo surfer goodfriend">
                    <td><img src="http://img4.wikia.nocookie.net/__cb20140328190757/pokemon/images/thumb/2/21/001Bulbasaur.png/200px-001Bulbasaur.png"></td>
                    <td>AJ</td>
                </tr>
                <tr class="dumbo surfer goodfriend Anna">
                    <td><img src="https://i.chzbgr.com/full/4281158144/h1F094FA4/"></td>
                    <td>Andy</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>