/* fill viewport, hide scroll bar */
html, body
{
    overflow: scroll;
}

nav
{
    align-content: center
}

div.container-fluid
{
    padding-top: 56px;
}

div.col
{
    padding-left: 0;
    padding-right: 0;
}





{
    background-color: #ff0;
}
