/* fill viewport, hide scroll bar */
html, body
{
    overflow: scroll;
}

nav
{
    align-content: bottom
}

div.container-fluid
{
    padding-top: 56px;
}

div.col
{
    padding-left: 0;
    padding-right: 0;
}

form
{
    padding: 15px;
}

pre
{
    height: 100%;
    overflow: auto;
    padding: 15px;
    white-space: pre-wrap;
}


{
    background-color: #ff0;
}
