.container
{
    background-color: red;    
}

.row 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-around;
    flex: 1;
}
  
.column-item
{
    background-color: blue;
    height: 100%;
}
